<h1>Admin Panel</h1>

<h4>What do you want to do?</h4>

<p><%= link_to "Create New Marker", action: "new", controller: "markers" %></p>

<p><%= link_to "View All Markers", action: "index", controller: "markers" %></p>
