<div class="uk-grid">

  <div class="uk-width-4-6">
    <div id="map-canvas" style="height: 500px"></div>
  </div>

  <div class="uk-width-2-6">
    <div id="sidebar">
      <h4><i class="fa fa-map-marker"></i> Nearby Venues</h4>
      <hr>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "home" %>

